<% content_for :head do %>
    <style>
      thead input {
          width: 100%;
          padding: 3px;
          box-sizing: border-box;
      }
  </style>
<% end %>

<h2 style="margin-top: 100px;" class="mx-5">Availabilities</h2>
<div class="p-5">
    <table id="example" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th><span class="d-flex flex-column align-items-center">Days</span></th>
                <th><span class="d-flex flex-column align-items-center">Hourlies</span></th>
                <th><span class="d-flex flex-column align-items-center">Classrooms</span></th>
                <th><span class="d-flex flex-column align-items-center">Locations</span></th>
                <th style="text-align:center;min-width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @availabilities.each do |availability| %>
            <tr>
                <td><%= availability.hourly.day %></td>
                <td><%= availability.hourly.time_slot %></td>
                <td><%= availability.room.name %></td>
                <td><%= availability.room.location %></td>
                <td>

                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>